.moviePic{
    position: relative;
    height: 400px;
    width: 500px;
    opacity: 90%;
    
}

.movieDetail{
   position: relative;
   text-align: center;
   font-size:medium;
   top: auto;
   width: auto;
}